# ===============================
# PYTHON CACHE
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd

# ===============================
# VIRTUAL ENV
# ===============================
venv/
.venv/
env/

# ===============================
# ENV / SECRETS
# ===============================
.env
.env.*

# ===============================
# GIT
# ===============================
.git/
.gitignore

# ===============================
# DJANGO
# ===============================
db.sqlite3
media/
staticfiles/

# ===============================
# OS FILES
# ===============================
.DS_Store
Thumbs.db

# ===============================
# LOGS
# ===============================
*.log

# ===============================
# NODE (future)
# ===============================
node_modules/

# ===============================
# TESTING / COVERAGE
# ===============================
.coverage
htmlcov/
.pytest_cache/

# ===============================
# IDE
# ===============================
.vscode/
.idea/